@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground-inactive;
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#workspaces button.active {
    color: @foreground;
    border-bottom: solid @foreground 1px;
}

#workspaces button.urgent {
    border-bottom: solid coral 1px;
    color: coral;
}

#bluetooth.disabled,
#bluetooth.on,
#bluetooth.off,
#mpd {
    font-size: 120%;
}

#idle_inhibitor,
#workspaces,
#temperature,
#custom-platform-profile {
    padding-left: 1em;
}

#pulseaudio,
#battery,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 0.5em;
}

#mpd {
    padding-right: 0.75em;
}
